/* Navbar styling */
.navbar-custom {
    background-color: #2058DC;
}
.navbar-brand {
    color: white !important;
    font-size: 25px;
}

.nav-link {
    color: white !important;
    font-size: 20px;
}
.navbar-active {
    color: #fddb5b !important;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #fddb5b ;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 80%;
}
nav.fill ul li a {
  transition: all 2s;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

.small-logo {
    height: 40px;
}

/* Containers */
.top-container {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
}
.center-container {
    text-align: center;
}
.right-container {
    text-align: right;
}
.left-container {
    text-align: left;
}
.container-scroll {
    padding-top:15px;
    padding-bottom:15px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 85vh;
}
.container-scroll-jobs {
    padding-top: 0px;
    padding-bottom: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 85vh;
}
/* Element Styling */
body {
    background-color: #c3e7ff;
}
h1 {
    color: #2058DC;
    font-size: 50px;
    margin-bottom: 20px;
}
h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* Text Colors */
.blue {
    color: #2058DC;
}
.lightblue {
    color: #4269e2;
}
.green {
    color: #51a34f;
}
.red {
    color: #dc3646;
}
.yellow {
    color: #FAB305;
}

/* Autocomplete CSS */
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    width: 100%;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.console-container {
    font-size: 2rem;
    color: white;
    margin-left: 3px;
}
.console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:-1px;
    color: #4269e2;
 }

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #2058DC !important;
    color: #ffffff;
}

/* Landing page */
.landing-btn {
    color: #2058DC;
    font-size: 28px;
    background-color: white;
    border: 1px solid #2058DC;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8px 4px;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 50px;
}
.landing-btn:hover {
    color: white;
    background-color: #2058DC;
    transition: 0.3s;
}
.landing-desc {
    font-size: 30px;
}
.landing-img {
   min-height: 300px;
   margin-top: -50px;
   max-width: 100%;
}
.landing-list {
    font-size: 20px;
}

.color-animate {
  background-image: linear-gradient(
    -225deg,
    #2058DC 0%,
    #2058DC 29%,
    #FAB305 57%,
    #FAB305 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s ease-in-out;
  display: inline-block;
}

@keyframes textclip {
  from {
    background-position: 200% center;
  }
}

/* Profile page */
.add-review-btn {
    color: #2058DC;
    font-size: 20px;
    background-color: white;
    border: 1px solid #2058DC;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8px 4px;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 30px;
}
.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-review-btn:hover {
    color: white;
    background-color: #2058DC;
    transition: 0.3s;
}
.blurb-bg {
    background-color: white;
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
    transition: transform 0.3s;
}
.blurb-bg:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
}
.certificate-btn {
    color: white;
    background-color: #4269e2;
    border: 1px solid #4269e2;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    margin:3px;
}
.modal-header {
    border: 0px;
}
.profile-btn {
    color: white;
    background-color: #FAB305;
    border: 1px solid #FAB305;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}
.profile-btn:hover {
    color: white;
    background-color: #fddb5b;
    border: 1px solid #fddb5b;
    transition: 0.3s;
}
.profile-btn-submit {
    color: white;
    background-color: #51a34f;
    border: 1px solid #51a34f;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}

.profile-btn-submit:hover {
    color: white;
    background-color: #90ee90;
    border: 1px solid #90ee90;
    transition: 0.3s;
}
.profile-btn-reset {
    color: white;
    background-color: #dc3646;
    border: 1px solid #dc3646;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}

.profile-btn-reset:hover {
    color: white;
    background-color: #FF7276;
    border: 1px solid #FF7276;
    transition: 0.3s;
}
.profile-col {
    margin-bottom: 10px;
}
.required:after {
    content: "* ";
    color: red;
}
.top-container-profile {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.top-container-admin {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
/* Jobs page */
.top-container-jobs {
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 20px;
}
.filters-card {
    background-color: #ffffff;
    height:85vh;
    padding: 15px 25px;
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
    font-size: 15px;
    /* transition: transform 0.3s; */
}
/* .filters-card:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
} */
.font-20px {
    font-size: 20px;
}
.font-16px {
    font-size: 16px;
}
.font-14px {
    font-size: 14px;
}
.filters-input {
    width:100%;
    padding-left: 5px;
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 5px 10px;
    font-size: 16px;
}
.filters-input-div {
    border: 1px solid black;
}
.filters-major {
    width: 100%;
    border: 1px solid black;
    font-size: 16px;
    color: black;
}
.filters-text {
    color: #000000;
    font-size: 24px;
}
.vscomp-ele {
    max-width: none;
}
.vscomp-option.focused {
    width: 200%;
}
.vscomp-option-text {
    overflow: visible;
    max-width: none;
}
.difficult-system-card {
    background-color: #FFE06A;
    border-radius: 20px;
    padding: 10px 15px 3px 5px ;
    text-align: left;
    min-width: fit-content;
    font-size: 0.85rem;
    margin-bottom: 10px;
    transition: transform 0.3s;
}
.difficult-system-card:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
}
.enjoy-system-card {
    background-color: #FFC652;
    padding: 10px 15px 3px 5px ;
    border-radius: 20px;
    text-align: left;
    min-width: fit-content;
    font-size: 0.85rem;
    margin-bottom: 10px;
    transition: transform 0.3s;
}
.enjoy-system-card:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
}
.category-system-card {
    background-color: #769cff;
    padding: 10px 15px 3px 5px ;
    border-radius: 20px;
    text-align: left;
    min-width: fit-content;
    font-size: 0.85rem;
    transition: transform 0.3s;
}
.category-system-card:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
}
.bottom-align {
    vertical-align: bottom;
}
.center {
    text-align: center;
    align-items: center;
}
.align-bottom {
    vertical-align: bottom;
}
form.nosubmit {
    border: 1px solid #555;
    padding: 0;
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 100%;
    margin-left: 11px
}
input.nosubmit {
    border: none;
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
form.company-bar {
    border: 1px solid #555;
    padding: 0;
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 100%;
}
input.company-bar {
    border: none;
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
.location-btn {
    color: white;
    background-color: #4269e2;
    border: 1px solid #4269e2;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    margin: 2px;
}
.report-btn {
    color: white;
    background-color: #dc3646;
    border: 1px solid #dc3646;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}
.report-btn:hover {
    color: white;
    background-color: #FF7276;
    border: 1px solid #FF7276;
    transition: 0.3s;
}
.submit {
    border: none;
    background-color: #2058DC;
    color: #fff;
    border-radius: 10px;
    max-width: 100px;
    font-size: 1.15rem;
    margin-left: 10px;
    margin-right: 15px;
    padding: 10px 11px;
}
.submit:hover {
    background-color: #5a82ea;
}
.search-col {
    margin-top: 20px;
    margin-left: 20px;
}
.sort-btn {
    margin: 1px 0px;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    text-align: left;
    background-color: #aaa;
    border: none
}
.sort-btn-selected {
    background-color: #4269e2;
}
.no-results {
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}

.search-results-card {
    align-items: center;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 10px;
    padding: 15px;
    background-color: #fff;
    transition: transform 0.3s;
    box-shadow: 0px 0px 5px 5px #b9d1ff;
}
.top-buffer { margin-top:10px; }

.search-results-card:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
}
.card-title {
    font-weight: 700;
    font-size: 1.15rem
}
.card-company {
    font-size: 1.15rem
}
.card-companylink {
    color: black;
    text-decoration: none;
}
.card-subtitle {
    font-size: 1rem;
}
.card-upvotes {
    align-content: right;
    transition: transform 0.3s;
}
.card-upvotes-text {
    font-size: 1rem;
    align-content: right;
}
.card-upvotes:hover {
    transform: translateY(-3px);
    transition: transform 0.3s;
}
.upvote-icon:hover {
    stroke: #2058DC;
}
.card-upvote-selected {
    color: #2058DC;
}
.card-content {
    font-size: 0.9rem;
    text-align: left;
}
.card-categories {
    font-size: 0.8rem;
    text-align: left;
    padding-left: 25px;
}
.rating-system-card {
    width: 20%;
    margin:0em;
    border-radius: 10px;
    border-color: #2058DC;
    font-size: 12px;
    text-align: left;
    background-color:#fddb5b;
}
.sort-bar {
    padding: 8px;
    font-size: 14px;
}
.filter-text {
    font-size: 15px;
}
.bottom {
    position: relative;
}
.top {
    position: absolute;
    top: 0px;
    left: -7px;
    align-content: center;
}
.hidden {
    display:none
}
.left {
    align-content: left;
    text-align: left;
}
:root {
    --star-size: 20px;
    --star-color: rgba(210, 235, 255, 0.81);
    --star-background: rgb(255, 217, 0);
}
.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}

/* Companies page */
.Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.pie {
    --p:20;
    --b:15px;
    --c:darkred;
    --w:100px;

    width:var(--w);
    aspect-ratio:1;
    position:relative;
    display:inline-grid;
    margin:5px;
    place-content:center;
    font-size:25px;
    font-weight:bold;
    font-family:sans-serif;
    align-content: center;
    align-items: center;
}
.pie:before,
.pie:after {
    content:"";
    position:absolute;
    border-radius:50%;
}
.pie:before {
    inset:0;
    background:
        radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
        conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
    inset:calc(50% - var(--b)/2);
    background:var(--c);
    transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.animate {
    animation:p 1s .5s both;
}
@keyframes p {
from{--p:0}
}
.top-companies-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px 3px 5px ;
    text-align: left;
    min-width: fit-content;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: transform 0.3s;
}
.top-companies-card:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
}
.top-companies-container {
    margin-top: 15px;
    margin-left:30px;
    margin-right:30px;
}
.top-select {
    padding: 9px 4px 9px 9px;
    border-radius: 10px;
    border: 1px solid #212529;
}
.rec-companies-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px 3px 5px ;
    text-align: left;
    min-width: fit-content;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: transform 0.3s;
}
.rec-companies-card:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
}
.company-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
    text-align: left;
    min-width: fit-content;
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: transform 0.3s;
    box-shadow: 0px 0px 4px 4px #fed0ad;
}
.company-card:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
}
.company-link {
    font-size:0.8rem;
    text-decoration: none;
}
.tight {
    margin-bottom: 0.6rem;
}
.company-title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-right: 40px;
}
.company-num-reviews {
    font-size: 1.2rem;
    margin-left: 5%;
}
.company-title-sm {
    font-size: 1.3rem
}
.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 130px;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    margin-bottom: 10px;
    display:inline-block;
}
.tooltip-text::before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    background-color: #192733;
    padding: 5px;
    z-index: 1;
}

.hover-text:hover .tooltip-text {
    visibility: visible;
}
#right {
    top: -8px;
    left: 120%;
}
#right::before {
    top: 35%;
    left: -2%;
}
.hover-text {
    position: relative;
    display: inline;
    text-align: center;
}
.company-textbox-loc {
    margin: 1px 0px;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    text-align: left;
    background-color:#2058dc;
    background-color:#5a82ea;
}
.company-textbox-field {
    margin: 1px 0px;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    text-align: left;
    background-color:#4269e2;
    background-color:#ff9419;
}
.company-textbox-major {
    margin: 1px 0px;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    text-align: left;
    background-color:#5a82ea;
    background-color:#ffc800df;
}
.top-bottom {
    margin-top: 3px;
    margin-bottom: 3px;
}
.container-scroll-companies {
    padding-top: 0px;
    padding-bottom: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 85vh;
}
.container-scroll-companies-top {
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 85vh;
}
.company-search-submit {
    border: none;
    background-color: #2058DC;
    color: #fff;
    border-radius: 10px;
    max-width: 100px;
    font-size: 1rem;
    margin-left: 10px;
    margin-right: 15px;
    padding: 10px 11px;
} 
.company-search-submit:hover {
    background-color: #5a82ea;
}
.company-review-click:hover {
    cursor: pointer;
    color: #2058DC;
}

/* Admin page */
.admin-delete-btn {
    margin-top:5px;
    margin-bottom: 5px;
    color: white;
    background-color: #dc3646;
    border: 1px solid #dc3646;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}
.admin-delete-btn:hover {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: #FF7276;
    border: 1px solid #FF7276;
    transition: 0.3s;
}
.admin-dismiss-btn {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: #51a34f;
    border: 1px solid #51a34f;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}
.admin-dismiss-btn:hover {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: #90ee90;
    border: 1px solid #90ee90;
    transition: 0.3s;
}
.admin-warning-btn {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: #FAB305;
    border: 1px solid #FAB305;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}
.admin-warning-btn:hover {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: #fddb5b;
    border: 1px solid #fddb5b;
    transition: 0.3s;
}
/* TOOLTIP STUFF */
/* Tooltip text */
.tooltip2 {
    position: relative;
    display: inline-block;
}

.tooltip2 .tooltip2text {
    visibility: hidden;
    width: 130px;
    background-color: #192733;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    position: absolute;
    z-index: 100;
    top: -10px;
    left: 150%;
    font-size:12px;
    font-weight: normal;
}

.tooltip2 .tooltip2text::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #192733 transparent transparent;
}

.tooltip2:hover .tooltip2text {
    visibility: visible;
}
.tooltip2 .tooltip3text {
    visibility: hidden;
    width: 130px;
    background-color: #192733;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    position: absolute;
    z-index: 100;
    top: 150%;
    left: 50%;
    margin-left: -60px;
    font-size: 12px;
    font-weight: normal;
}

.tooltip2 .tooltip3text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip2:hover .tooltip3text {
    visibility: visible;
}