<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TigerJobs</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
    <!------------------------JS/CSS/JQuery/Bootstrap src ------------>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- CSS stylesheet  -->
    <link rel="stylesheet" type="text/css" href="../static/app.css">
    <style type="text/css"></style>
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='favicon.png') }}">
</head>

<body>
    <!-- Navbar -->
    {% include 'templates/navbar.html' %}
    <div class="top-container center-container">
        <div class="blurb-bg-about">
            <h2 class="color-animate"><b>About TigerJobs</b></h2>
            <p class="about-desc">
                TigerJobs helps Princeton students find their next internship, job, or career with the help of their peers. With our
                app, you can search through job and interview reviews left by fellow Princeton students to discover new employment
                options. The jobs and interviews pages also allow you to filter through these reviews to find opportunities that fit
                your criteria or to explore what students similar to you in class year and major have done. Plus, every review links to
                a company or program with its own page to help you find other reviews and company stats. We hope you enjoy our site!
            </p>   
            <br>
            <p class="about-desc">
                By using this website, you agree that you will not disclose information in violation of any legally enforceable
                confidentiality, non-disclosure or other
                contractual restrictions or rights of any third party.
                In addition, note that reviews of Princeton sponsored experiences may reflect biases in ratings.
            </p>
            <br>
            <p class="about-desc">
                We're constantly trying to improve the website, so if you noticed any bugs or have any 
                ideas for future features, fill out our feedback form at this <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfgfQVzmYNQlfHtChHdPUnNFJXW35HGDK93j90DaZQUtdSAag/viewform?vc=0&c=0&w=1&flr=0">link!</a>
            </p>     
            <!-- <p class="font-14px">
                By using this website, you agree that you will not disclose information in violation of any legally enforceable confidentiality, non-disclosure or other
                contractual restrictions or rights of any third party.
            </p> -->
        </div>
        <br>
        <div class="blurb-bg-about">
            <h2 class="color-animate"><b>Our Team</b></h2>
            <div class="row picture-text">
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <img src="../static/assets/arnav.jpg" width="300px" class="about-img">
                    <br>
                    <b>Arnav Kumar '24</b>
                    <br>
                </div>
                <div class="col-md-5">
                    <img src="../static/assets/ambri.jpg" width="300px" class="about-img">
                    <br>
                    <b>Ambri Ma '24</b>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </div>
</body>

</html>