<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TigerJobs</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
    <!------------------------JS/CSS/JQuery/Bootstrap src ------------>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- CSS stylesheet  -->
    <link rel="stylesheet" type="text/css" href="../static/app.css">
    <style type="text/css"></style>
</head>

<body>
    <!-- Navbar -->
    {% include 'templates/navbar.html' %}
    <!-- Content -->
    <div class="top-container-jobs">
        <div class="row">
            <div id="company-result" class="col-md-8 container-scroll-companies">
                {% include 'templates/company_result.html' %}
            </div>
            <div class="col-md-4 container-scroll-companies">
                {% include 'templates/company_reviews.html' %}
                <!--{% include 'templates/companies_search_results.html' %}-->
            </div>
        </div>
        {% if admin %}
        <br>
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 center-container">
                <h4>Is the information for this company inconsistent with the reviews?</h4>
                <button class="profile-btn-submit" onclick="refreshCompanyStats({{comp.id}})"><b>Refresh this company's statistics</b></button>
                <br>
                <br>
            </div>
            <div class="col-md-2"></div>
        </div>
        {% endif %}
    </div>
    {% include 'templates/modalsuccess.html' %}
    {% include 'templates/modalerror.html' %}
    <script>
        let request = null;
        function refreshCompanyStats(id) {
            if (request != null)
                request.abort();
            let url = "/companies/refresh?id=" + id;
            request = $.post(url, {
            }).done(function (data) {
                $('#modalSuccessBody').html("Company statistics successfully refreshed!");
                $('#modalSuccess').modal('show');
                $('#company-result').html(data);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                $('#modalErrorBody').html("There was an error updating the company information. Try again!");
                $('#modalError').modal('show');
            });
        }
        function showInternshipReviews() {
            $('#comp-internships').show();
            $('#comp-interviews').hide();
        }
        function showInterviewReviews() {
            $('#comp-internships').hide();
            $('#comp-interviews').show();
        }
        function showAllReviews() {
            $('#comp-internships').show();
            $('#comp-interviews').show();
        }
    </script>

</body>

</html>