
<div class="top-companies-container">
    <div class="center company-title-sm"><b><span>Top Reviewed Companies</span></b>
    <br>
    <span>
        <select id="top-companies-select" onchange="getTopCompanies()" class="form-select top-select">
            <option selected value="">All majors</option>
            {% for major in major_names %}
            <option value={{major_codes[loop.index - 1]}}>
                {{major}}
            </option>
            {% endfor %}
        </select>
    </span>
    </div>  
</div>
{% include 'templates/companies_top_results.html' %}
<script>
    function getTopCompanies() {
        if (request != null)
            request.abort();
        let major = $('#top-companies-select').val();
        let url = "/companies/top?major=" + major;
        request = $.post(url, {
        }).done(function (data) {
            $('#companies-top-results').html(data);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            alert(errorThrown)
        });
    }
</script>