<div class="container difficult-system-card" id="difficult">
    <div class="center"><b>Difficulty Rating Scale:</b></div>  
    <ul>
        <li>1 – little to no prep; just go in and be yourself :)</li>
        <li>2 – doable; as long as you prepare, it’ll be fine</li>
        <li>3 – tough; prepare beforehand then prepare for something you can’t prepare</li>
        <li>4 – challenging; you’ll probably come out of it feeling uneasy</li>
        <li>5 – nearly impossible; prepare some tissues :’)</li>
    </ul>  
</div>
<div class="container enjoy-system-card" id="enjoy">
    <div class="center"><b>Enjoyment Rating Scale:</b></div>  
    <ul>
        <li>1 – had to be done (or would not recommend)</li>
        <li>2 – gained something out of it ig</li>   
        <li>3 – good but …</li>
        <li>4 – great experience and memorable interviewer</li>
        <li>5 – had a blast!</li>
    </ul>  
</div>