<div class="col-3 filters-card container-scroll-jobs">
    <div class="left-container">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#000000"
            stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
            <line x1="4" y1="21" x2="4" y2="14"></line>
            <line x1="4" y1="10" x2="4" y2="3"></line>
            <line x1="12" y1="21" x2="12" y2="12"></line>
            <line x1="12" y1="8" x2="12" y2="3"></line>
            <line x1="20" y1="21" x2="20" y2="16"></line>
            <line x1="20" y1="12" x2="20" y2="3"></line>
            <line x1="1" y1="14" x2="7" y2="14"></line>
            <line x1="9" y1="8" x2="15" y2="8"></line>
            <line x1="17" y1="16" x2="23" y2="16"></line>
        </svg>
        <span class="font-16px">
            <b>Advanced Search Filters:</b>
        </span>
    </div>
    <div class="row">
        <div class="col-6 left-container">
            <b>Difficulty</b>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="difficulty-1">
                <label class="form-check-label" for="difficulty-1">
                    1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="difficulty-2">
                <label class="form-check-label" for="difficulty-2">
                    2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="difficulty-3">
                <label class="form-check-label" for="difficulty-3">
                    3
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="difficulty-4">
                <label class="form-check-label" for="difficulty-4">
                    4
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="difficulty-5">
                <label class="form-check-label" for="difficulty-5">
                    5
                </label>
            </div>
        </div>
        <div class="col-6 left-container">
            <b>Enjoyment</b>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="enjoyment-1">
                <label class="form-check-label" for="enjoyment-1">
                    1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="enjoyment-2">
                <label class="form-check-label" for="enjoyment-2">
                    2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="enjoyment-3">
                <label class="form-check-label" for="enjoyment-3">
                    3
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="enjoyment-4">
                <label class="form-check-label" for="enjoyment-4">
                    4
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="enjoyment-5">
                <label class="form-check-label" for="enjoyment-5">
                    5
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 left-container">
            <b>Class Year</b>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="class-1">
                <label class="form-check-label" for="class-1">
                    Freshman
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="class-2">
                <label class="form-check-label" for="class-2">
                    Sophomore
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="class-3">
                <label class="form-check-label" for="class-3">
                    Junior
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="class-4">
                <label class="form-check-label" for="class-4">
                    Senior
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="class-5">
                <label class="form-check-label" for="class-5">
                    Graduate
                </label>
            </div>
        </div>
        <div class="col-6 left-container">
            <b>Location Type</b>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="location-1">
                <label class="form-check-label" for="location-1">
                    In-person
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="location-2">
                <label class="form-check-label" for="location-2">
                    Video Call
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="location-3">
                <label class="form-check-label" for="location-3">
                    Phone
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="location-4">
                <label class="form-check-label" for="location-4">
                    Unsupervised
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 left-container">
            <b>Interview Type</b>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="interviewtype-1">
                <label class="form-check-label" for="interviewtype-1">
                    Online Assessment (OA)
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="interviewtype-2">
                <label class="form-check-label" for="interviewtype-2">
                    Screening/Phone
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="interviewtype-3">
                <label class="form-check-label" for="interviewtype-3">
                    Technical
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="interviewtype-4">
                <label class="form-check-label" for="interviewtype-4">
                    Behavioral
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="interviewtype-5">
                <label class="form-check-label" for="interviewtype-5">
                    Case
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col left-container">
            <b>Outcome</b>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="interviewoutcome-1">
                <label class="form-check-label" for="interviewoutcome1">
                    Advanced
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="interviewoutcome-2">
                <label class="form-check-label" for="interviewoutcome-2">
                    Did not advance
                </label>
            </div>
        </div>
        <div class="col left-container">
            <b>Round</b>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="interviewoutcome-1">
                <label class="form-check-label" for="interviewfinal1">
                    Final
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="interviewoutcome-2">
                <label class="form-check-label" for="interviewfinal-2">
                    Preliminary
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 left-container">
            <b>Duration</b>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="interviewduration-1">
                <label class="form-check-label" for="interviewduration-1">
                    Under 30 minutes
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="interviewduration-2">
                <label class="form-check-label" for="interviewduration-2">
                    30-45 minutes
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="interviewduration-3">
                <label class="form-check-label" for="interviewduration-3">
                    1 hour
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="interviewduration-4">
                <label class="form-check-label" for="interviewduration-4">
                    2 hours
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="interviewduration-5">
                <label class="form-check-label" for="interviewduration-5">
                    3 hours 
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="interviewduration-6">
                <label class="form-check-label" for="interviewduration-6">
                    4 hours 
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="interviewduration-7">
                <label class="form-check-label" for="interviewduration-7">
                    4+ hours but under a day 
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="interviewtype-8">
                <label class="form-check-label" for="interviewduration-8">
                    Full day
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="interviewtype-9">
                <label class="form-check-label" for="interviewduration-9">
                    Multiple Days
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 left-container">
            <b>Interview obtained by:</b>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="howinterview-1">
                <label class="form-check-label" for="howinterview-1">
                    Application on website
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="howinterview-2">
                <label class="form-check-label" for="howinterview-2">
                    Application on RippleMatch/Handshake/etc
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="howinterview-3">
                <label class="form-check-label" for="howinterview-3">
                    Handing in resume/Networking at job fair
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="howinterview-4">
                <label class="form-check-label" for="howinterview-4">
                    Attending a webinar
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="howinterview-5">
                <label class="form-check-label" for="howinterview-5">
                    Attending a selective small group program
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="howinterview-6">
                <label class="form-check-label" for="howinterview-6">
                    Reaching out to a company employee
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="howinterview-7">
                <label class="form-check-label" for="howinterview-7">
                    Working there previously
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="howinterview-8">
                <label class="form-check-label" for="howinterview-8">
                    Personal connection
                </label>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12 left-container">
            <b>Majors</b>
            <div>
                <select id="dropdown-majors" multiple name="native-select" placeholder="Select majors" data-search="false"
                    data-silent-initial-value-set="true">
                    {% for major in major_names %}
                    <option value={{major_codes[loop.index - 1]}}>
                        {{major}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 left-container">
            <b>Certificates</b>
            <div>
                <select id="dropdown-certificates" multiple name="native-select" placeholder="Select certificates" data-search="false"
                    data-silent-initial-value-set="true">
                    {% for certificate in certificates %}
                    <option value={{certificate}}>
                        {{certificate}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 left-container">
            <b>Job Fields</b>
            <div>
                <select id="dropdown-fields" multiple name="native-select" placeholder="Select interview fields" data-search="false"
                    data-silent-initial-value-set="true">
                    <option value="Pharmaceuticals">Pharmaceuticals</option>
                    <option value="Biotech">Biotech</option>
                    <option value="Healthcare">Healthcare</option>
                    <option value="Legal Services">Legal Services</option>
                    <option value="Econonomics and Business Administration">Economics and Business Administration</option>
                    <option value="Government, Education, and Policy">Government, Education, and Policy</option>
                    <option value="Investment and Corporate Banking">Investment and Corporate Banking</option>
                    <option value="Management Consulting">Management Consulting</option>
                    <option value="Trading, Private Equity, and Venture Capital">Trading, Private Equity, and Venture Capital</option>
                    <option value="Accounting and Insurance">Accounting and Insurance</option>
                    <option value="Fintech">Fintech</option>
                    <option value="IT and Security">IT and Security</option>
                    <option value="Software Engineering">Software Engineering</option>
                    <option value="Aerospace and Robotics">Aerospace and Robotics</option>
                    <option value="Data Science and Analytics">Data Science and Analytics</option>
                    <option value="Engineering and Project Management">Engineering and Project Management</option>
                    <option value="Marketing and Business Development">Marketing and Business Development</option>
                    <option value="Journalism, Publishing, and Media">Journalism, Publishing, and Media</option>
                    <option value="Graphic Design and Production">Graphic Design and Production</option>
                    <option value="Arts and Entertainment">Arts and Entertainment</option>
                    <option value="National or College Laboratory">National or College Laboratory</option>
                    <option value="STEM Research">STEM Research</option>
                    <option value="Humanities Research">Humanities Research</option>
                </select>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 center-container">
            <button class="profile-btn-submit" onclick="getFilteredData()">Update Filters</button>
        </div>
    </div>
</div>
<script>
    // Global variable for locations but in JSON
    function deleteLocation(el) {
        el.remove();
    }
    function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function (e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = "";
                        var newLocation = $('<button type="button" onclick="deleteLocation(this)" class="location-btn">'
                            + this.getElementsByTagName("input")[0].value
                            + '&nbsp;<span class="close" aria-label="Close"><span aria-hidden="true">&times;</span></span>'
                            + '</button>');
                        $('#chosen-locations').append(newLocation)
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }
    // Autocomplete for location filter
    function setup() {
        VirtualSelect.init({
            ele: '#dropdown-fields',
            multiple: 'true',
            search: true,
            searchGroup: false, // Include group title for searching
            searchByStartsWith: false, // Search options by startsWith() method,
            optionsCount: 5,
            hasOptionDescription: false,
            disableSelectAll: false,
            additionalClasses: 'filters-major',
        });
        VirtualSelect.init({
            ele: '#dropdown-majors',
            multiple: 'true',
            search: true,
            searchGroup: false, // Include group title for searching
            searchByStartsWith: false, // Search options by startsWith() method,
            optionsCount: 5,
            hasOptionDescription: false,
            disableSelectAll: false,
            additionalClasses: 'filters-major',
        });
        VirtualSelect.init({
            ele: '#dropdown-certificates',
            multiple: 'true',
            search: true,
            searchGroup: false, // Include group title for searching
            searchByStartsWith: false, // Search options by startsWith() method,
            optionsCount: 5,
            hasOptionDescription: false,
            disableSelectAll: false,
            additionalClasses: 'filters-major',
        });
    }
    $('document').ready(setup);
    </script>
