<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TigerJobs</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
    <!------------------------JS/CSS/JQuery/Bootstrap src ------------>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Multiselect dropdown -->
    <link rel="stylesheet" href="../static/virtual-select-master/dist/virtual-select.min.css" />
    <script src="../static/virtual-select-master/dist/virtual-select.min.js"></script>
    <!-- CSS stylesheet  -->
    <link rel="stylesheet" type="text/css" href="../static/app.css">
    <style type="text/css"></style>
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='favicon.png') }}">
</head>

<body>
    <!-- Navbar -->
    {% include 'templates/navbar.html' %}
    <!-- Content -->
    <div id="interview-content" class="top-container-jobs">
        <div class="row">
            {% include 'templates/interview_filters.html' %}
            <div class="col-md-6 container-scroll-jobs">
                {% include 'templates/interview_search_form.html' %}
                {% include 'templates/interview_search_results.html' %}
            </div>
            <div class="col container-scroll-jobs">
                <div class="bottom center">
                    <div onclick="hideRatings()" type="button" id="eye-slash" class="center">
                        <a href="/profile">
                            <button class="add-review-job-btn">Add your own review!</button>
                        </a>
                        <b>Hide Rating Scales</b> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                            <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                            <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                            <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                        </svg>
 
                    </div>
                    <div onclick="showRatings()" type="button" id="eye" class="center">
                        <a href="/profile">
                            <button class="add-review-job-btn">Add your own review!</button>
                        </a>
                        <b>Show Rating Scales</b> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                        </svg>
                        <br> 
                        <div class="left">
                            <ul>
                                <li>Upvote a review to save it to your profile!</li>
                                <li>Click on a company name to check out other reviews for this company and combined stats!</li>
                            </ul>
                        </div> 
                    </div>
                </div>
                {% include 'templates/interview_rating_cards.html' %}
            </div>
        </div>
    </div>
    {% include 'templates/modalreport.html' %}
    {% include 'templates/modalsuccess.html' %}
    {% include 'templates/modalerror.html' %}
    <script>
    let request = null;
    let currentInterviewSort = 'recency';
    let currentInterviewSortDirection = true;
    function hideRatings() {
        $('#difficult').hide();
        $('#enjoy').hide();
        $('#category').hide();
        $('#eye-slash').hide();
        $('#eye').show();
    }
    function showRatings() {
        $('#difficult').show();
        $('#enjoy').show();
        $('#category').show();
        $('#eye-slash').show();
        $('#eye').hide();
    }
    function getFilteredInterviewData() {
        // Get query
        var query = $('#interview-search-bar').val()
        // Get all difficulty scores
        var difficulty = []
        for (let i = 1; i <= 5; i++) {
            var difficultyId = "#interviewdifficulty-" + i;
            if ($(difficultyId).is(':checked')) difficulty.push(i);
        }
        // if (difficulty.length == 0) difficulty = [1, 2, 3, 4, 5];
        // Get all enjoyment scores
        var enjoyment = []
        for (let i = 1; i <= 5; i++) {
            var enjoymentId = "#interviewenjoyment-" + i;
            if ($(enjoymentId).is(':checked')) enjoyment.push(i);
        }
        // Get all class years
        var class_options = ['fr', 'so', 'jr', 'sr', 'grad']
        var classes = []
        for (let i = 1; i <= 5; i++) {
            var classId = "#interviewclass-" + i;
            if ($(classId).is(':checked')) classes.push(class_options[i - 1]);
        }
        // Get all location types
        var locationtype_options = ['In-person', 'Video call', 'Phone', 'Unsupervised']
        var locationtypes = []
        for (let i = 1; i <= 4; i++) {
            var locationId = "#interviewlocation-" + i;
            if ($(locationId).is(':checked')) locationtypes.push(locationtype_options[i - 1]);
        }
        // Get all interview types
        var interviewtype_options = ['Online Assessment (OA)', 'Screening/Phone', 'Technical', 'Behavioral', 'Case']
        var interviewtypes = []
        for (let i = 1; i <= 5; i++) {
            var interviewtypeId = "#interviewtype-" + i;
            if ($(interviewtypeId).is(':checked')) interviewtypes.push(interviewtype_options[i - 1]);
        }
        // Advanced: T or F
        var interviewoutcome_options = [true, false]
        var interviewoutcomes = []
        for (let i = 1; i <= 2; i++) {
            var interviewoutcomeId = "#interviewoutcome-" + i;
            if ($(interviewoutcomeId).is(':checked')) interviewoutcomes.push(interviewoutcome_options[i - 1]);
        }
        // Final round: T or F
        var interviewfinal_options = [true, false]
        var interviewfinals = []
        for (let i = 1; i <= 2; i++) {
            var interviewfinalId = "#interviewfinal-" + i;
            if ($(interviewfinalId).is(':checked')) interviewfinals.push(interviewfinal_options[i - 1]);
        }
        // Get all interview durations
        var interviewduration_options = ['Under 30 minutes', '30-45 minutes', '1 hour', '2 hours', '3 hours', '4 hours', '4+ hours but under a day', 'Full Day', 'Multiple Days']
        var interviewdurations = []
        for (let i = 1; i <= 9; i++) {
            var interviewdurationId = "#interviewduration-" + i;
            if ($(interviewdurationId).is(':checked')) interviewdurations.push(interviewduration_options[i - 1]);
        }
        // Get all how-interviews
        var howinterview_options = ['Application on website', 'Application on RippleMatch/Handshake/etc', 'Handing in resume/Networking at job fair', 'Attending a webinar', 'Attending a selective small group program', 'Reaching out to a company employee', 'Working there previously', 'Personal connection']
        var howinterviews = []
        for (let i = 1; i <= 8; i++) {
            var howinterviewId = "#howinterview-" + i;
            if ($(howinterviewId).is(':checked')) howinterviews.push(howinterview_options[i - 1]);
        }
        // Majors
        var majors = $('#interviewdropdown-majors').val();
        // Certificates 
        var certificates = $('#interviewdropdown-certificates').val();
        // Job Fields
        var fields = $('#interviewdropdown-fields').val();
        // Send JSON event
        var json_event = {
            "query": query,
            "difficulty": difficulty,
            "enjoyment": enjoyment,
            "classes": classes,
            "locationtypes": locationtypes,
            "interviewtypes": interviewtypes,
            "interviewoutcomes": interviewoutcomes,
            "interviewfinals": interviewfinals,
            "interviewdurations": interviewdurations,
            "howinterviews": howinterviews,
            "majors": majors,
            "certificates": certificates,
            "fields": fields,
            "sortType": currentInterviewSort,
            "sortDirection": currentInterviewSortDirection
        };
        if (request != null)
            request.abort();
        request = $.post("/interviews/filter", {
            dataType: 'json',
            contentType: 'application/json',
            event_data: JSON.stringify(json_event)
        }).done(function (data) {
            $('#interview-search-results').html(data);
        }).fail(function (jqXHR, textStatus, errorThrown) {
        });
    }
    function upvoteReview(id) {
        let elemId = "#upvote-count-" + id;
        let upvoteIconId = "#upvote-" + id;
        if ($(elemId).hasClass("card-upvote-selected")) {
            $(upvoteIconId).css("stroke", "black");
            $(elemId).removeClass("card-upvote-selected");
            let num = $(elemId).text();
            $(elemId).text(num - 1);
        }
        else {
            $(upvoteIconId).css("stroke", "#2058DC");
            $(elemId).addClass("card-upvote-selected");
            let num = parseInt($(elemId).text());
            $(elemId).text(num + 1);
        }
        if (request != null)
            request.abort();
        let url = "/interviews/upvote?id=" + id;
        request = $.post(url, {
        }).done(function (data) {
        }).fail(function (jqXHR, textStatus, errorThrown) {
        });
    }
    function reportInterviewReviewModal(id, company_id) {
        $('#modalReport').modal('show');
        $('#report-id').html(id);
        $('#report-company-id').html(company_id);
    }
    function reportReview() {
        $('#modalReport').modal('hide');
        id = $('#report-id').html();
        if (request != null)
            request.abort();
        let url = "/report/interviews?id=" + id;
        request = $.post(url, {
        }).done(function (data) {
            $('#modalSuccessBody').html("Successfully reported")
            $('#modalSuccess').modal('show');
        }).fail(function (jqXHR, textStatus, errorThrown) {
            $('#modalErrorBody').html("Error reporting. Try again!")
            $('#modalError').modal('show');
        });
    }
    function reportCompany() {
        $('#modalReport').modal('hide');
        id = $('#report-company-id').html();
        if (request != null)
            request.abort();
        let url = "/report/companies?id=" + id;
        request = $.post(url, {
        }).done(function (data) {
            $('#modalSuccessBody').html("Successfully reported")
            $('#modalSuccess').modal('show');
        }).fail(function (jqXHR, textStatus, errorThrown) {
            $('#modalErrorBody').html("Error reporting. Try again!")
            $('#modalError').modal('show');
        });
    }
    if (matchMedia) { // technically this is window.matchMedia, which is actually a function stored as a property on the window object. If the browser supports matchMedia then this is true. Else - no media queries regardless.
        const mq = window.matchMedia("(max-width: 767px)"); // The matchMedia() function is passed a media query string.
        mq.addListener(WidthChange);
        WidthChange(mq); // Immediately calls the new listener and pass in the mq object.
    }

    function WidthChange(mq) {
        // Equivalant to window.matchMedia("(min-width: 481px)").matches... .matches is a Boolean.
        if (mq.matches) {
            showFilters(false); // If mq.matches is true ( meaning >= 481px)
        } else {
            showFilters(true);
            $('#hide-filter-interview').hide();
            $('#show-filter-interview').hide();
        }
    }
    function showFilters(val) {
        if (val) {
            $('#interview-filters-section').show();
            $('#show-filter-interview').hide();
            $('#hide-filter-interview').show();
        }
        else {
            $('#interview-filters-section').hide();
            $('#show-filter-interview').show();
            $('#hide-filter-interview').hide();
        }
    }
    function setup() {
        $('#hide-filter-interview').hide();
        $('#eye').hide();
        // Don't submit form on enter
        $("form").keypress(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                getFilteredInterviewData();
                return false;
            }
        })
    }
    $('document').ready(setup);
    </script> 

</body>
</html>