<small id="job-search-help" class="form-text text-muted">
    Enter a company, job title, or keyword...
</small>
<form class="nosubmit">
    <input  id="job-search-bar"
            class="nosubmit form-control form-control-lg" 
            type="text"
            name="query"
            placeholder="Search for job reviews"
            value="{{ last_query_unquoted }}"
            pattern="^[a-zA-Z0-9-:?%\x22\x27\x26\x2C ]+$"
            maxlength="100"
            autocomplete="off"
            autocapitalize="off" />
</form>
<div class="sort-bar">
    <i>Sort By:</i>
    <span onclick="changeSortDate()" type="button" id="sortDate">
        {% if sortDate == new %}
            Most Recent, 
        {% elif sortDate == old %}
            Oldest, 
        {% endif %}
    </span>
    <span type="button" id="sortUpvote">
        {% if sortUpvote == most %}
            Most upvoted 
        {% elif sortUpvote == least %}
            Least Upvoted
        {% endif %}
    </span>
    <span type="button" id="sortDifficult">
        {% if sortDifficult == high %}
            Highest Difficulty
        {% elif sortDifficult == low %}
            Lowest Difficulty
        {% endif %}
    </span>
    <span type="button" id="sortEnjoy">
        {% if sortEnjoy == high %}
            Highest Enjoyment
        {% elif sortEnjoy == low %}
            Lowest Enjoyment
        {% endif %}
    </span>
</div>

<script>
    function changeSortDate()
    {
        var elem = document.getElementById("sortDate");
        if (elem.innerHTML=="Oldest, ") elem.innerHTML = "Most Recent, ";
        else elem.innerHTML = "Oldest, ";
    }
</script>