<div class="container major-rec-card">
    <div class="center">Difficulty Rating Scale:</div>  
    <ul>
        <li>1 – ez money; had all the skills needed :)</li>
        <li>2 – doable; put in the hours and it’ll be fine</li>
        <li>3 – tough; learn quickly or fall behind</li>
        <li>4 – challenging; they expected things i did not think i would accomplish</li>
        <li>5 – nearly impossible; could’ve put in double the hours and still not meet their expectations :’)</li>
    </ul>  
</div>
<div class="container certificate-rec-card" >
    <div class="center">Enjoyment Rating Scale:</div>  
    <ul>
        <li>1 – would not recommend</li>
        <li>2 – gained something out of it ig</li>   
        <li>3 – good but …</li>
        <li>4 – great experience and memorable supervisor</li>
        <li>5 – had a blast!</li>
    </ul>  
</div>