<div class="container difficult-system-card" id="difficult">
    <div class="center"><b>Difficulty Rating Scale:</b></div>  
    <ul>
        <li>1 – ez money; had all the skills needed :)</li>
        <li>2 – doable; put in the hours and it’ll be fine</li>
        <li>3 – tough; learn quickly or fall behind</li>
        <li>4 – challenging; they expected things i did not think i would accomplish</li>
        <li>5 – nearly impossible; could’ve put in double the hours and still not meet their expectations :’)</li>
    </ul>  
</div>
<div class="container enjoy-system-card" id="enjoy">
    <div class="center"><b>Enjoyment Rating Scale:</b></div>  
    <ul>
        <li>1 – would not recommend</li>
        <li>2 – gained something out of it ig</li>   
        <li>3 – good but …</li>
        <li>4 – great experience and memorable supervisor</li>
        <li>5 – had a blast!</li>
    </ul>  
</div>
<div class="container category-system-card" id="category">
    <div class="center"><b>Category Rating Prompts:</b></div>  
    <div class="center">On your own scale of 1-5...</div>
    <ul>
        <li>Career Impact – How much did this experience positively impact your career plans?</li>
        <li>Culture – How much did you enjoy the culture of your team and/or the company?</li>   
        <li>Pay – How satisfied were you with the salary you received relative to your peers within the field?</li>
        <li>Supervisor – How much did your supervisor support and/or teach you? </li>
        <li>Work-Life Balance – How well did you balance life and work during this experience? </li>
    </ul>  
</div>