<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TigerJobs</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
    <!------------------------JS/CSS/JQuery/Bootstrap src ------------>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Multiselect dropdown -->
    <link rel="stylesheet" href="../static/virtual-select-master/dist/virtual-select.min.css" />
    <script src="../static/virtual-select-master/dist/virtual-select.min.js"></script>
    <!-- CSS stylesheet  -->
    <link rel="stylesheet" type="text/css" href="../static/app.css">
    <style type="text/css"></style>
</head>

<body style="background-color:#c3e7ff"> 
    <!-- Navbar -->
    {% include 'templates/navbar.html' %}
    <!-- Content -->
    <div id="job-content" class="top-container-jobs">
        <div class="row">
            {% include 'templates/job_filters.html' %}
            <div class="col-md-6 container-scroll-jobs">
                {% include 'templates/job_search_form.html' %}
                {% include 'templates/job_search_results.html' %}
            </div>
            <div class="col container-scroll-jobs">
                <div class="bottom center">
                    <div onclick="hideRatings()" type="button" id="eye-slash" class="center">
                        <b>Hide Rating Scales</b> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                            <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                            <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                            <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                        </svg>
 
                    </div>
                    <div onclick="showRatings()" type="button" id="eye" class="top hidden">
                        <b>Show Rating Scales</b> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                        </svg>
                        <br> 
                        <div class="left">
                            <ul>
                                <li>Upvote a review to save it to your profile!</li>
                                <li>Click on a company name to check out other reviews for this company and combined stats!</li>
                            </ul>
                        </div> 
                    </div>
                </div>
                {% include 'templates/job_rating_cards.html' %}
            </div>
        </div>
    </div>

    <script>
    let request = null;
    let currentSort = 'recency';
    let currentSortDirection = true;
    function hideRatings() {
        $('#difficult').hide();
        $('#enjoy').hide();
        $('#category').hide();
        $('#eye-slash').hide();
        $('#eye').removeClass('hidden');
        $('#eye').show();
    }
    function showRatings() {
        $('#difficult').show();
        $('#enjoy').show();
        $('#category').show();
        $('#eye-slash').show();
        $('#eye').hide();
    }
    function getFilteredData() {
        // Get query
        var query = $('#job-search-bar').val()
        // Get all difficulty scores
        var difficulty = []
        for (let i = 1; i <= 5; i++) {
            var difficultyId = "#difficulty-" + i;
            if ($(difficultyId).is(':checked')) difficulty.push(i);
        }
        // if (difficulty.length == 0) difficulty = [1, 2, 3, 4, 5];
        // Get all enjoyment scores
        var enjoyment = []
        for (let i = 1; i <= 5; i++) {
            var enjoymentId = "#enjoyment-" + i;
            if ($(enjoymentId).is(':checked')) enjoyment.push(i);
        }
        // Get all class years
        var class_options = ['fr', 'so', 'jr', 'sr', 'grad']
        var classes = []
        for (let i = 1; i <= 5; i++) {
            var classId = "#class-" + i;
            if ($(classId).is(':checked')) classes.push(class_options[i - 1]);
        }
        // Get all location styles
        var locationstyle_options = ['In-person', 'Hybrid', 'Virtual']
        var locationstyles = []
        for (let i = 1; i <= 3; i++) {
            var locationId = "#location-" + i;
            if ($(locationId).is(':checked')) locationstyles.push(locationstyle_options[i - 1]);
        }
        // Get all job types
        var jobtype_options = ['Internship: Industry - Private Sector',
            'Internship: Industry - Public Sector', 'Research - Princeton sponsored',
            'Research - Non-Princeton sponsored', 'Co-op', 'Part-time', 'Full-time/New grad']
        var jobtypes = []
        for (let i = 1; i <= 7; i++) {
            var jobtypeId = "#jobtype-" + i;
            if ($(jobtypeId).is(':checked')) jobtypes.push(jobtype_options[i - 1]);
        }
        // Locations
        var locations = []
        var location_buttons = $('#chosen-locations')[0].children;
        for (let i = 0; i < location_buttons.length; i++) {
            var inner = location_buttons[i].innerHTML;
            var loc = inner.substring(0, inner.length - 85);
            locations.push(loc)
        }
        // Majors
        var majors = $('#dropdown-majors').val();
        // Certificates
        var certificates = $('#dropdown-certificates').val();
        // Job Fields
        var fields = $('#dropdown-fields').val();
        // Send JSON event
        var json_event = {
            "query": query,
            "difficulty": difficulty,
            "enjoyment": enjoyment,
            "classes": classes,
            "locationstyle": locationstyles,
            "jobtype": jobtypes,
            "locations": locations,
            "majors": majors,
            "certificates": certificates,
            "fields": fields,
            "sortType": currentSort,
            "sortDirection": currentSortDirection
        };
        if (request != null)
            request.abort();
        request = $.post("/jobs/filter", {
            dataType: 'json',
            contentType: 'application/json',
            event_data: JSON.stringify(json_event)
        }).done(function (data) {
            $('#job-search-results').html(data);
        }).fail(function (jqXHR, textStatus, errorThrown) {
        });
    }
    function upvoteReview(id) {
        let elemId = "#upvote-count-" + id;
        let upvoteIconId = "#upvote-" + id;
        if ($(elemId).hasClass("card-upvote-selected")) {
            $(upvoteIconId).css("stroke", "black");
            $(elemId).removeClass("card-upvote-selected");
            let num = $(elemId).text();
            $(elemId).text(num - 1);
        }
        else {
            $(upvoteIconId).css("stroke", "#2058DC");
            $(elemId).addClass("card-upvote-selected");
            let num = parseInt($(elemId).text());
            $(elemId).text(num + 1);
        }
        if (request != null)
            request.abort();
        let url = "/jobs/upvote?id=" + id;
        request = $.post(url, {
        }).done(function (data) {
            // let upvoteIconId = "#upvote-" + id;
            // let elemId = "#upvote-count-" + id;
            // if (data[0] == "False") {
            //     $(upvoteIconId).css("stroke", "black");
            //     $(elemId).removeClass("card-upvote-selected");
            // }
            // else if (data[0] == "True") {
            //     $(upvoteIconId).css("stroke", "#2058DC");
            //     $(elemId).addClass("card-upvote-selected");
            // }
            // $(elemId).text(data[1])
        }).fail(function (jqXHR, textStatus, errorThrown) {
        });
    }
    function setup() {
        // Don't submit form on enter
        $("form").keypress(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                getFilteredData();
                return false;
            }
        })
    }
    $('document').ready(setup);
    </script> 

</body>
</html>
