<!-- Modal -->
<div class="modal fade" id="addReviewModal" tabindex="-1" aria-labelledby="addReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div> -->
            <div class="modal-body">
                <div class="right-container">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="resetForm()"></button>
                </div>
                <div id="whatTitle" class="center-container">
                    <h2 class="modal-title" id="exampleModalLabel">What type of review would you like to leave?</h2>
                    <br>
                    <button class="add-review-btn" onclick="showJobForm()">Job Review</button>
                    <button class="add-review-btn" onclick="showInterviewForm()">Interview Review</button>
                </div>
                <form id="addJobForm" autocomplete="off">
                    <div class="center-container">
                        <h2>Add a Job Review</h2>
                    </div>
                    <div class="form-group">
                        <label class="required" for="job-title"><b>Job Position Title</b></label>
                        <input type="text" class="form-control" id="job-title" aria-describedby="jobTitleHelp"
                            placeholder="Enter job position title (e.g. Business Intern)" required>
                        <div id="error-title" class="red">
                            Please put in your job position title.
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="job-location"><b>Job Location</b></label>
                        <input type="text" class="form-control" id="job-location" aria-describedby="jobLocationHelp"
                            placeholder="Enter the job city, state and country (e.g. Miami, FL, USA) or Remote">
                        <div id="error-location" class="red">
                            Please put in the location of the job.
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="job-locationstyle"><b>Location Style</b></label>
                        <select class="form-select" id="job-locationstyle">
                            <option value="" disabled selected>Choose the best option</option>
                            <option value="In-person">In-person</option>
                            <option value="Hybrid">Hybrid</option>
                            <option value="Virtual">Virtual</option>
                        </select>
                        <div id="error-locationstyle" class="red">
                            Please select the style of the location.
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="job-type"><b>Job Type</b></label>
                        <select class="form-select" id="job-type">
                            <option value="" disabled selected>Choose the best option</option>
                            <option value="Internship: Industry - Private Sector">Internship: Industry - Private Sector</option>
                            <option value="Internship: Industry - Public Sector">Internship: Industry - Public Sector</option>
                            <option value="Research - Princeton Sponsored">Research - Princeton Sponsored</option>
                            <option value="Research - Non-Princeton">Research - Non-Princeton</option>
                            <option value="Co-op">Co-op</option>
                            <option value="Part-time">Part-time</option>
                            <option value="Full-time/New grad">Full-time/New grad</option>
                            <option value="Other">Other</option>
                        </select>
                        <div id="error-type" class="red">
                            Please select the type of the job.
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="job-length"><b>Job Length in weeks (to the nearest week)</b></label>
                        <input type="number" class="form-control" id="job-length" aria-describedby="jobLengthHelp"
                            placeholder="Enter the length of the job (in weeks)" min="1">
                        <div id="error-length" class="red">
                            Please enter a valid job length (An integer greater than 0).
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="job-year"><b>What year were you in at the time of the job?</b></label>
                        <select class="form-select" id="job-year">
                            <option value="" disabled selected>Select your class year at the time of the job</option>
                            <option value="fr">Freshman (4 years till graduation)</option>
                            <option value="so">Sophomore (3 years till graduation)</option>
                            <option value="jr">Junior (2 years till graduation)</option>
                            <option value="sr">Senior (1 year till graduation)</option>
                            <option value="grad">Graduate Student</option>
                            <option value="other">Other</option>
                        </select>
                        <div id="error-year" class="red">
                            Please select your class year at the time of the job.
                        </div>
                    </div>
                    <br>
                    <div class="form-group autocomplete">
                        <label class="required" for="job-company"><b>Company Name</b></label>
                        <input type="text" class="form-control" id="job-company" aria-describedby="jobCompanyHelp"
                            placeholder="Enter the name of the company">
                        <div id="error-company" class="red">
                            Please enter the company.
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="required" for="job-company-type"><b>Job Field</b></label>
                        <select class="form-select" id="job-company-type">
                            <option value="" disabled selected>Choose the best option</option>
                            <option value="Pharmaceuticals">Pharmaceuticals</option>
                            <option value="Biotech">Biotech</option>
                            <option value="Healthcare">Healthcare</option>
                            <option value="Legal Services">Legal Services</option>
                            <option value="Econonomics and Business Administration">Economics and Business Administration</option>
                            <option value="Government, Education, and Policy">Government, Education, and Policy</option>
                            <option value="Investment and Corporate Banking">Investment and Corporate Banking</option>
                            <option value="Management Consulting">Management Consulting</option>
                            <option value="Trading, Private Equity, and Venture Capital">Trading, Private Equity, and Venture Capital</option>
                            <option value="Accounting and Insurance">Accounting and Insurance</option>
                            <option value="Fintech">Fintech</option>
                            <option value="IT and Security">IT and Security</option>
                            <option value="Software Engineering">Software Engineering</option>
                            <option value="Aerospace and Robotics">Aerospace and Robotics</option>
                            <option value="Data Science and Analytics">Data Science and Analytics</option>
                            <option value="Engineering and Project Management">Engineering and Project Management</option>
                            <option value="Marketing and Business Development">Marketing and Business Development</option>
                            <option value="Journalism, Publishing, and Media">Journalism, Publishing, and Media</option>
                            <option value="Graphic Design and Production">Graphic Design and Production</option>
                            <option value="Arts and Entertainment">Arts and Entertainment</option>
                            <option value="National or College Laboratory">National or College Laboratory</option>
                            <option value="STEM Research">STEM Research</option>
                            <option value="Humanities Research">Humanities Research</option>
                            <option value="Other">Other</option>
                        </select>
                        <div id="error-companytype" class="red">
                            Please select the field of the job.
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="job-description"><b>Job Description</b></label>
                        <textarea class="form-control" id="job-description" aria-describedby="jobDescriptionHelp"
                            placeholder="Enter a description of your daily tasks/work"></textarea>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="job-technologies"><b>Technologies Used</b></label>
                        <input type="text" class="form-control" id="job-technologies" aria-describedby="jobTechnologyHelp"
                            placeholder="Enter any technologies you used (e.g. Excel, PowerPoint, Python)">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="job-salary"><b>Job Salary in dollars per hour (to the nearest dollar) (you're anonymous!)</b></label>
                        <input type="number" class="form-control" id="job-salary" aria-describedby="jobSalaryHelp"
                            placeholder="Enter the salary of the job (in dollars per hour)" min="0">
                        <div id="error-salary" class="red">
                            Please enter a valid salary (An integer greater than or equal to 0).
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="job-supervisor"><b>How much did your supervisor support and/or teach you (from 1 to 5)?</b></label>
                        <select class="form-select" id="job-supervisor">
                            <option value="" disabled selected>Choose the best option</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <div id="error-supervisor" class="red">
                            Please rate your job supervisor (you're anonymous!)
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="job-pay"><b>How satisfied were you with the salary you received relative to your peers within the field (from 1 to 5)?</b></label>
                        <select class="form-select" id="job-pay">
                            <option value="" disabled selected>Choose the best option</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <div id="error-pay" class="red">
                            Please rate your job pay (you're anonymous!)
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="job-balance"><b>How well did you balance life and work during this experience (from 1 to 5)?</b></label>
                        <select class="form-select" id="job-balance">
                            <option value="" disabled selected>Choose the best option</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <div id="error-balance" class="red">
                            Please rate your work/life balance (you're anonymous!)
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="job-culture"><b>How much did you enjoy the culture of your team and/or the company (from 1 to 5)?</b></label>
                        <select class="form-select" id="job-culture">
                            <option value="" disabled selected>Choose the best option</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <div id="error-culture" class="red">
                            Please rate the culture of the company (you're anonymous!)
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="job-career"><b>How much did this experience positively impact your career plans (from 1 to 5)?</b></label>
                        <select class="form-select" id="job-career">
                            <option value="" disabled selected>Choose the best option</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <div id="error-career" class="red">
                            Please rate the impact of this job on your overall career.
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="job-difficulty"><b>Difficulty Rating (from 1 to 5)</b></label>
                        <select class="form-select" id="job-difficulty">
                            <option value="" disabled selected>Choose the best option</option>
                            <option value="1">1 - ez money; had all the skills needed :)</option>
                            <option value="2">2 – doable; put in the hours and it’ll be fine</option>
                            <option value="3">3 – tough; learn quickly or fall behind</option>
                            <option value="4">4 – challenging; they expected things i did not think i would accomplish</option>
                            <option value="5">5 – nearly impossible; could’ve put in double the hours and still not meet their expectations :’)</option>
                        </select>
                        <div id="error-difficulty" class="red">
                            Please select the difficulty of the job.
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="job-enjoyment"><b>Enjoyment Rating (from 1 to 5)</b></label>
                        <select class="form-select" id="job-enjoyment">
                            <option value="" disabled selected>Choose the best option</option>
                            <option value="1">1 – would not recommend</option>
                            <option value="2">2 – gained something out of it ig</option>
                            <option value="3">3 – good but ….</option>
                            <option value="4">4 – great experience and memorable supervisor</option>
                            <option value="5">5 – had a blast!</option>
                        </select>
                        <div id="error-enjoyment" class="red">
                            Please select your enjoyment of the job.
                        </div>
                    </div>
                    <br>
                    <div class="center-container">
                        <button type="button" class="profile-btn-reset" onclick="resetForm()">Reset Form</button>
                        <button type="button" class="profile-btn-submit" onclick="submitJobForm()">Add Job Review</button>
                    </div>
                </form>
                <form id="addInterviewForm" autocomplete="off">
                    <div class="center-container">
                        <h2>Add an Interview Review</h2>
                    </div>
                    <div class="form-group autocomplete">
                        <label class="required" for="interview-company"><b>Interview Company</b></label>
                        <input type="text" class="form-control" id="interview-company" aria-describedby="interviewCompany"
                            placeholder="Enter the company the interview was with">
                        <div id="error-interview-company" class="red">
                            Please put in the company you interviewed with.
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="required" for="interview-round"><b>Interview Round</b></label>
                        <input type="number" class="form-control" id="interview-round" aria-describedby="interviewRoundHelp"
                            placeholder="Enter the round of the interview" min="0">
                        <div id="error-interview-round" class="red">
                            Please put in the round of the interview (must be an integer greater than 0).
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="interview-final"><b>Was this the final round?</b></label>
                        <select class="form-select" id="interview-final">
                            <option value="" disabled selected>Choose the best option</option>
                            <option value="True">Yes</option>
                            <option value="False">No</option>
                        </select>
                        <div id="error-interview-final" class="red">
                            Please select whether this was the final round or not.
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="interview-jobposition"><b>Job Position</b></label>
                        <input class="form-control" id="interview-jobposition" aria-describedby="interviewQuestionsHelp"
                            placeholder="Enter the position of the job">
                        <div id="error-interview-jobposition" class="red">
                            Please enter the job position of the interview.
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="interview-jobtype"><b>Job Field</b></label>
                        <select class="form-select" id="interview-jobtype">
                            <option value="" disabled selected>Choose the best option</option>
                            <option value="Pharmaceuticals">Pharmaceuticals</option>
                            <option value="Biotech">Biotech</option>
                            <option value="Healthcare">Healthcare</option>
                            <option value="Legal Services">Legal Services</option>
                            <option value="Econonomics and Business Administration">Economics and Business Administration</option>
                            <option value="Government, Education, and Policy">Government, Education, and Policy</option>
                            <option value="Investment and Corporate Banking">Investment and Corporate Banking</option>
                            <option value="Management Consulting">Management Consulting</option>
                            <option value="Trading, Private Equity, and Venture Capital">Trading, Private Equity, and Venture Capital
                            </option>
                            <option value="Accounting and Insurance">Accounting and Insurance</option>
                            <option value="Fintech">Fintech</option>
                            <option value="IT and Security">IT and Security</option>
                            <option value="Software Engineering">Software Engineering</option>
                            <option value="Aerospace and Robotics">Aerospace and Robotics</option>
                            <option value="Data Science and Analytics">Data Science and Analytics</option>
                            <option value="Engineering and Project Management">Engineering and Project Management</option>
                            <option value="Marketing and Business Development">Marketing and Business Development</option>
                            <option value="Journalism, Publishing, and Media">Journalism, Publishing, and Media</option>
                            <option value="Graphic Design and Production">Graphic Design and Production</option>
                            <option value="Arts and Entertainment">Arts and Entertainment</option>
                            <option value="National or College Laboratory">National or College Laboratory</option>
                            <option value="STEM Research">STEM Research</option>
                            <option value="Humanities Research">Humanities Research</option>
                            <option value="Other">Other</option>
                        </select>
                        <div id="error-interview-jobtype" class="red">
                            Please select the field of the job.
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="interview-year"><b>What year were you in at the time of the interview?</b></label>
                        <select class="form-select" id="interview-year">
                            <option value="" disabled selected>Select your class year at the time of the interview</option>
                            <option value="fr">Freshman (4 years till graduation)</option>
                            <option value="so">Sophomore (3 years till graduation)</option>
                            <option value="jr">Junior (2 years till graduation)</option>
                            <option value="sr">Senior (1 year till graduation)</option>
                            <option value="grad">Graduate Student</option>
                            <option value="other">Other</option>
                        </select>
                        <div id="error-interview-year" class="red">
                            Please select your class year at the time of the interview.
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="interview-type"><b>Interview Type</b></label>
                        <select class="form-select" id="interview-type">
                            <option value="" disabled selected>Choose the best option</option>
                            <option value="Online Assessment (OA)">Online Assessment (OA)</option>
                            <option value="Screening/Phone">Screening/Phone</option>
                            <option value="Behavioral">Behavioral</option>
                            <option value="Technical">Technical</option>
                            <option value="Case">Case</option>
                            <option value="Other">Other</option>
                        </select>
                        <div id="error-interview-type" class="red">
                            Please select the type of the interview.
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="interview-location"><b>Interview Location Type</b></label>
                        <select class="form-select" id="interview-location">
                            <option value="" disabled selected>Choose the best option</option>
                            <option value="In-person">In-person</option>
                            <option value="Video call">Video call</option>
                            <option value="Phone">Phone</option>
                            <option value="Unsupervised">Unsupervised</option>
                            <option value="Other">Other</option>
                        </select>
                        <div id="error-interview-location" class="red">
                            Please select the location type of the interview.
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="interview-duration"><b>Interview Duration</b></label>
                        <select class="form-select" id="interview-duration">
                            <option value="" disabled selected>Choose the best option</option>
                            <option value="Under 30 minutes">Under 30 minutes</option>
                            <option value="30-45 minutes">30-45 minutes</option>
                            <option value="1 hour">1 hour</option>
                            <option value="2 hours">2 hours</option>
                            <option value="3 hours">3 hours</option>
                            <option value="4 hours">4 hours</option>
                            <option value="More than 4 hours but less than a day">More than 4 hours but less than a day</option>
                            <option value="Full day">Full day</option>
                            <option value="Multiple days">Multiple days</option>
                        </select>
                        <div id="error-interview-duration" class="red">
                            Please put in the duration of the interview.
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="interview-num"><b>How many interviewers did you have?</b></label>
                        <input type="number" class="form-control" id="interview-num"
                            placeholder="Enter the number of interviewers you had" min="0">
                        <div id="error-interview-num" class="red">
                            Please enter a valid number of interviewers
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="interview-how"><b>How did you get the interview?</b></label>
                        <select class="form-select" id="interview-how">
                            <option value="" disabled selected>Choose the best option</option>
                            <option value="Application on website">Application on website</option>
                            <option value="Application on RippleMatch/Handshake/etc">Application on RippleMatch/Handshake/etc</option>
                            <option value="Handing in resume/Networking at job fair">Handing in resume/Networking at job fair</option>
                            <option value="Attending a webinar">Attending a webinar</option>
                            <option value="Attending a selective small group program">Attending a selective small group programs</option>
                            <option value="Reaching out to company employee">Reaching out to company employee</option>
                            <option value="Worked there previously">Worked there previously</option>
                            <option value="Had a personal connection">Had a personal connection</option>
                            <option value="None of the above">None of the above</option>
                        </select>
                        <div id="error-interview-how" class="red">
                            Please select how you got the interview.
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="interview-questions"><b>Interview Questions</b></label>
                        <textarea class="form-control" id="interview-questions" aria-describedby="interviewQuestionsHelp"
                            placeholder="Enter any questions you remember"></textarea>
                        <div id="error-interview-questions" class="red">
                            Please enter any questions you remember from the interview.
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="interview-tips"><b>Any tips for the interview?</b></label>
                        <textarea class="form-control" id="interview-tips" aria-describedby="interviewQuestionsHelp"
                            placeholder="Enter any tips for preparing for this interview (e.g. any resources you want to share? how far in advance did you get started?)"></textarea>
                        <div id="error-interview-tips" class="red">
                            Please enter any tips you have for the interview.
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="interview-technology"><b>Technologies Used</b></label>
                        <input class="form-control" id="interview-technology" aria-describedby="interviewQuestionsHelp"
                            placeholder="Enter any technologies you used (e.g. Excel, PowerPoint, Python)">
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="interview-difficulty"><b>Difficulty Rating (from 1 to 5)</b></label>
                        <select class="form-select" id="interview-difficulty">
                            <option value="" disabled selected>Choose the best option</option>
                            <option value="1">1 – little to no prep; just go in and be yourself :)</option>
                            <option value="2">2 – doable; as long as you prepare, it’ll be fine</option>
                            <option value="3">3 – tough; prepare beforehand then prepare for something you can’t prepare</option>
                            <option value="4">4 – challenging; you’ll probably come out of it feeling uneasy</option>
                            <option value="5">5 – nearly impossible; prepare some tissues :’)</option>
                        </select>
                        <div id="error-interview-difficulty" class="red">
                            Please select the difficulty of the interview.
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="interview-enjoyment"><b>Enjoyment Rating (from 1 to 5)</b></label>
                        <select class="form-select" id="interview-enjoyment">
                            <option value="" disabled selected>Choose the best option</option>
                            <option value="1">1 – had to be done (or would not recommend)</option>
                            <option value="2">2 – learned something out of it ig</option>
                            <option value="3">3 – good but ….</option>
                            <option value="4">4 – great experience and memorable interviewer</option>
                            <option value="5">5 – had a blast!</option>
                        </select>
                        <div id="error-interview-enjoyment" class="red">
                            Please select your enjoyment of the interview.
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="required" for="interview-advance"><b>Did you advance/get the offer?</b></label>
                        <select class="form-select" id="interview-advance">
                            <option value="" disabled selected>Choose the best option</option>
                            <option value="True">Yes</option>
                            <option value="False">No</option>
                        </select>
                        <div id="error-interview-advance" class="red">
                            Please select whether you advanced or not
                        </div>
                    </div>
                    <br>
                    <div class="center-container">
                        <button type="button" class="profile-btn-reset" onclick="resetForm()">Reset Form</button>
                        <button type="button" class="profile-btn-submit" onclick="submitInterviewForm()">Add Interview Review</button>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
            </div> -->
        </div>
    </div>
</div>
<script>
    // Global variable for companies but in JSON
    var companies_json = {{ company_names | tojson }};
    // Function to tell if value is an integer or not
    function isInt(value) {
        return !isNaN(value) &&
            parseInt(Number(value)) == value &&
            !isNaN(parseInt(value, 10));
    }
    function hideErrorJob() {
        // Hide all error messages
        $('#error-title').hide();
        $('#error-location').hide();
        $('#error-locationstyle').hide();
        $('#error-type').hide();
        $('#error-length').hide();
        $('#error-year').hide();
        $('#error-company').hide();
        $('#error-companytype').hide();
        $('#error-salary').hide();
        $('#error-supervisor').hide();
        $('#error-pay').hide();
        $('#error-balance').hide();
        $('#error-culture').hide();
        $('#error-career').hide();
        $('#error-difficulty').hide();
        $('#error-enjoyment').hide();
    }
    function hideErrorInterview() {
        // Hide all error messages
        $('#error-interview-company').hide();
        $('#error-interview-round').hide();
        $('#error-interview-final').hide();
        $('#error-interview-jobposition').hide();
        $('#error-interview-jobtype').hide();
        $('#error-interview-year').hide();
        $('#error-interview-type').hide();
        $('#error-interview-location').hide();
        $('#error-interview-duration').hide();
        $('#error-interview-num').hide();
        $('#error-interview-how').hide();
        $('#error-interview-questions').hide();
        $('#error-interview-tips').hide();
        $('#error-interview-difficulty').hide();
        $('#error-interview-enjoyment').hide();
        $('#error-interview-advance').hide();
    }
    function submitJobForm() {
        // Hide all error messages
        hideErrorJob();
        // Count number of errors
        var numErrors = 0;
        // Get data from form
        var title = $('#job-title').val();
        if (title == "") {
            $('#error-title').show();
            numErrors++;
        }
        var location = $('#job-location').val();
        if (location == "") {
            $('#error-location').show();
            numErrors++;
        }
        var locationstyle = $('#job-locationstyle').val();
        if (locationstyle == null) {
            $('#error-locationstyle').show();
            numErrors++;
        }
        var type = $('#job-type').val();
        if (type == null) {
            $('#error-type').show();
            numErrors++;
        }
        var length = $('#job-length').val();
        if (length == "" || !isInt(length) || parseInt(length) <= 0) {
            $('#error-length').show();
            numErrors++;
        }
        var year = $('#job-year').val();
        if (year == null) {
            $('#error-year').show();
            numErrors++;
        }
        var company = $('#job-company').val();
        if (company == "") {
            $('#error-company').show();
            numErrors++;
        }
        var companyType = $('#job-company-type').val();
        if (companyType == null) {
            $('#error-companytype').show();
            numErrors++;
        }
        var description = $('#job-description').val();
        var technologies = $('#job-technologies').val();
        var salary = $('#job-salary').val();
        if (salary != "" && (!isInt(salary) || parseInt(salary) <= 0)) {
            $('#error-salary').show();
            numErrors++;
        }
        // Ratings
        var supervisor = $('#job-supervisor').val();
        if (supervisor == null) {
            $('#error-supervisor').show();
            numErrors++;
        }
        var pay = $('#job-pay').val();
        if (pay == null) {
            $('#error-pay').show();
            numErrors++;
        }
        var balance = $('#job-balance').val();
        if (balance == null) {
            $('#error-balance').show();
            numErrors++;
        }
        var culture = $('#job-culture').val();
        if (culture == null) {
            $('#error-culture').show();
            numErrors++;
        }
        var career = $('#job-career').val();
        if (career == null) {
            $('#error-career').show();
            numErrors++;
        }
        var difficulty = $('#job-difficulty').val();
        if (difficulty == null) {
            $('#error-difficulty').show();
            numErrors++;
        }
        var enjoyment = $('#job-enjoyment').val();
        if (enjoyment == null) {
            $('#error-enjoyment').show();
            numErrors++;
        }
        // Post if no errors
        if (numErrors > 0) {
            $('#addReviewModal').scrollTop(0);
            return;
        }
        var json_event = {
            "title": title,
            "location": location,
            "locationstyle": locationstyle,
            "type": type,
            "length": length,
            "year": year,
            "company": company,
            "companyType": companyType,
            "description": description,
            "technologies": technologies,
            "salary": salary,
            "supervisor": supervisor,
            "pay": pay,
            "balance": balance,
            "culture": culture,
            "career": career,
            "difficulty": difficulty,
            "enjoyment": enjoyment
        };
        if (request != null)
            request.abort();
        request = $.post("/profile/add/job", {
            dataType: 'json',
            contentType: 'application/json',
            event_data: JSON.stringify(json_event)
        }).done(function (data) {
            if (data == "ERROR") {
                $('#addReviewModal').modal('hide');
                $('#modalErrorBody').html("Please update your major and class year before adding any reviews. Your form information will remain when you're ready to submit (don't refresh!)")
                $('#modalError').modal('show');
                return;
            }
            $('#addReviewModal').modal('hide');
            $('#modalSuccessBody').html("Job review successfully added!")
            $('#modalSuccess').modal('show');
            $('#profile-reviews').html(data);
            resetForm();
        }).fail(function (jqXHR, textStatus, errorThrown) {
            $('#modalErrorBody').html("There was an error with our servers in adding your review! Try again!")
            $('#modalError').modal('show');
        });
    }
    function submitInterviewForm() {
        hideErrorInterview();
        // Count number of errors
        var numErrors = 0;
        // Get data from form
        var company = $('#interview-company').val();
        if (company == "") {
            $('#error-interview-company').show();
            numErrors++;
        }
        var round = $('#interview-round').val();
        if (round == "" || !isInt(parseInt(round)) || parseInt(round) < 0) {
            $('#error-interview-round').show();
            numErrors++;
        }
        var final = $('#interview-final').val();
        if (final == null) {
            $('#error-interview-final').show();
            numErrors++;
        }
        var jobposition = $('#interview-jobposition').val();
        if (jobposition == "") {
            $('#error-interview-jobposition').show();
            numErrors++;
        }
         var jobtype = $('#interview-jobtype').val();
        if (jobtype == null) {
            $('#error-interview-jobtype').show();
            numErrors++;
        }
        var year = $('#interview-year').val();
        if (year == null) {
            $('#error-interview-year').show();
            numErrors++;
        }
        var type = $('#interview-type').val();
        if (type == null) {
            $('#error-interview-type').show();
            numErrors++;
        }
        var location = $('#interview-location').val();
        if (location == null) {
            $('#error-interview-location').show();
            numErrors++;
        }
        var duration = $('#interview-duration').val();
        if (duration == null) {
            $('#error-interview-duration').show();
            numErrors++;
        }
        var num = $('#interview-num').val();
        if (num == "" || !isInt(parseInt(num)) || parseInt(num) <= 0) {
            $('#error-interview-num').show();
            numErrors++;
        }
        var how = $('#interview-how').val();
        if (how == null) {
            $('#error-interview-how').show();
            numErrors++;
        }
        var questions = $('#interview-questions').val();
        if (questions == "") {
            $('#error-interview-questions').show();
            numErrors++;
        }
        var tips = $('#interview-tips').val();
        if (tips == "") {
            $('#error-interview-tips').show();
            numErrors++;
        }
        var technologies = $('#interview-technology').val();
        var difficulty = $('#interview-difficulty').val();
        if (difficulty == null) {
            $('#error-interview-difficulty').show();
            numErrors++;
        }
        var enjoyment = $('#interview-enjoyment').val();
        if (enjoyment == null) {
            $('#error-interview-enjoyment').show();
            numErrors++;
        }
        var advanced = $('#interview-advance').val();
        if (advanced == null) {
            $('#error-interview-advance').show();
            numErrors++;
        }
        // Post if no errors
        if (numErrors > 0) {
            $('#addReviewModal').scrollTop(0);
            return;
        }
        var json_event = {
            "company": company,
            "round": round,
            "final": final,
            "job_position": jobposition,
            "job_type": jobtype,
            "year": year,
            "type": type,
            "location": location,
            "duration": duration,
            "num": num,
            "how": how,
            "questions": questions,
            "tips": tips,
            "technologies": technologies,
            "difficulty": difficulty,
            "enjoyment": enjoyment,
            "advanced": advanced
        };
        if (request != null)
            request.abort();
        request = $.post("/profile/add/interview", {
            dataType: 'json',
            contentType: 'application/json',
            event_data: JSON.stringify(json_event)
        }).done(function (data) {
            if (data == "ERROR") {
                $('#addReviewModal').modal('hide');
                $('#modalErrorBody').html("Please update your major and class year before adding any reviews. Your form information will remain when you're ready to submit (don't refresh!)")
                $('#modalError').modal('show');
                return;
            }
            $('#addReviewModal').modal('hide');
            $('#modalSuccessBody').html("Interview review successfully added!")
            $('#modalSuccess').modal('show');
            $('#profile-reviews').html(data);
            resetForm();
        }).fail(function (jqXHR, textStatus, errorThrown) {
            $('#modalErrorBody').html("There was an error with our servers in adding your review! Try again!")
            $('#modalError').modal('show');
        });
    }
    function resetForm() {
        // Hide previous error messages
        hideErrorJob();
        hideErrorInterview();
        // Reset job form stuff
        $('#job-title').val("");
        $('#job-location').val("");
        $('#job-locationstyle').val("");
        $('#job-type').val("");
        $('#job-length').val("");
        $('#job-year').val("");
        $('#job-company').val("");
        $('#job-company-type').val("");
        $('#job-description').val("");
        $('#job-technologies').val("");
        $('#job-salary').val("");
        $('#job-supervisor').val("");
        $('#job-pay').val("");
        $('#job-balance').val("");
        $('#job-culture').val("");
        $('#job-career').val("");
        $('#job-difficulty').val("");
        $('#job-enjoyment').val("");
        // Reset interview form stuff
        $('#interview-company').val("");
        $('#interview-round').val("");
        $('#interview-final').val("");
        $('#interview-jobposition').val("");
        $('#interview-jobtype').val("");
        $('#interview-year').val("");
        $('#interview-type').val("");
        $('#interview-location').val("");
        $('#interview-duration').val("");
        $('#interview-num').val("");
        $('#interview-how').val("");
        $('#interview-questions').val("");
        $('#interview-tips').val("");
        $('#interview-technology').val("");
        $('#interview-difficulty').val("");
        $('#interview-enjoyment').val("");
        $('#interview-advance').val("");
        // Show correct page
        $('#whatTitle').show();
        $('#addJobForm').hide();
        $('#addInterviewForm').hide();
    }
    function showJobForm() {
        $('#whatTitle').hide();
        $('#addJobForm').show();
    }
    function showInterviewForm() {
        $('#whatTitle').hide();
        $('#addInterviewForm').show();
    }
    function autocomplete_review_form(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false; }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function (e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }
    function setup() {
        $('#addJobForm').hide();
        $('#addInterviewForm').hide();
        autocomplete_review_form(document.getElementById("job-company"), companies_json);
        autocomplete_review_form(document.getElementById("interview-company"), companies_json);

        // Hide all error messages
        hideErrorJob();
        hideErrorInterview();
    }
    $('document').ready(setup);
</script>