<div id="upvoted-reviews">
    <div class="accordion" id="upvoted-job-reviews">
        <div><b>Upvoted Job Reviews</b></div>
        <br>
        {% for i in upvote_internships %}
        <div class="accordion-item">
                <h2 class="accordion-header" id="upvoted-internships-header-{{i.id}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#upvoted-internships-{{i.id}}"
                        aria-expanded="false" aria-controls="collapseOne">
                        {{i.title}},&nbsp; <b><a class="card-companylink" href="/companies/{{i.company_id}}">{{i.company}}</a></b>
                    </button>
                </h2>
                <div id="upvoted-internships-{{i.id}}" class="accordion-collapse collapse" aria-labelledby="upvoted-internships-header-{{i.id}}">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-sm">
                                <div><b>Location:&nbsp;</b>{{i.location}}</div>
                            </div>
                            <div class="col-sm">
                                <div><b>Location Style:&nbsp;</b>{{i.virtual}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div><b>Job Field:&nbsp;</b>{{i.company_type}}</div>
                                <div class="col-sm">
                                    <div><b>Number of Upvotes:&nbsp;</b>{{i.upvotes | length}}</div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <div><b>Job Type:&nbsp;</b>{{i.type}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                {% if i.salary != None %}
                                <div class="col-sm">
                                    <div><b>Salary:&nbsp;</b>${{i.salary}}/hr</div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-sm">
                                <div><b>Length:&nbsp;</b>{{i.length}} months</div>
                            </div>
                        </div>
                        <div><b>Technologies:&nbsp;</b>
                            {% if i.technologies == "" %}
                            N/A
                            {% else %}
                            {{i.technologies}}
                            {% endif %} 
                        </div>
                        <div>
                            <b>Description:&nbsp;</b>
                            {% if i.description == "" %}
                                N/A
                            {% else %}
                                {{i.description}}
                            {% endif %} 
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                <div><b>Supervisor Rating:&nbsp;</b>{{i.supervisor}} / 5</div>
                            </div>
                            <div class="col-sm">
                                <div><b>Pay Rating:&nbsp;</b>{{i.pay}} / 5</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div><b>Balance Rating:&nbsp;</b>{{i.balance}} / 5</div>
                            </div>
                            <div class="col-sm">
                                <div><b>Culture Rating:&nbsp;</b>{{i.culture}} / 5</div>
                            </div>
                        </div>
                        <div class="row">
                                <div><b>Career Impact Rating:&nbsp;</b>{{i.career_impact}} / 5</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm">
                                <div><b>Difficulty Rating:&nbsp;</b>{{i.difficulty}} / 5</div>
                            </div>
                            <div class="col-sm">
                                <div><b>Enjoyment Rating:&nbsp;</b>{{i.enjoyment}} / 5</div>
                            </div>
                        </div>
                        <div><b>Date Created:&nbsp;</b>{{i.date_created}}</div>
                        <br>
                        <div class="center-container">
                            <button class="profile-btn-reset" onclick="removeUpvoteJob({{i.id}})"><b>Remove Upvote</b></button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <br>
    <div class="accordion" id="upvoted-interview-reviews">
        <div><b>Upvoted Interview Reviews</b></div>
        <br>
        {% for i in upvote_interviews %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="upvoted-interviews-header-{{i.id}}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#upvoted-interviews-{{i.id}}"
                    aria-expanded="false" aria-controls="collapseTwo">
                    <span>{% if i.final %} {{i.job_position}},&nbsp;<b><a class="card-companylink" href="/companies/{{i.company_id}}">{{i.company}}</a></b>: Round {{i.round}} (Final){% endif %} </span>
                    <span>{% if not i.final %} {{i.job_position}},&nbsp;<b><a class="card-companylink" href="/companies/{{i.company_id}}">{{i.company}}</a></b>: Round {{i.round}}{% endif %}</span>
                </button>
            </h2>
            <div id="upvoted-interviews-{{i.id}}" class="accordion-collapse collapse" aria-labelledby="upvoted-interviews-header-{{i.id}}">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-sm">
                            <b>Job Field:&nbsp;</b>{{i.job_field}} <br>
                            <b>Interview reached through:&nbsp;</b>{{i.how_interview}}<br>
                            <b>Number of upvotes:&nbsp;</b>{{i.upvotes | length}}
                            
                        </div>
                        <div class="col-sm">
                            <b>Location Type:&nbsp;</b>{{i.location_type}}<br>
                            <b>Category:&nbsp;</b>{{i.type}}<br>
                            <b>Duration:&nbsp;</b>{{i.duration}} <br>
                            <b>Number of interviewers:&nbsp;</b>{{i.num_interviewers}}
                        </div>
                    </div>
                    <br>
                    <div>
                        <b>Technologies Used:&nbsp;</b>
                        <div>
                        {% if i.technologies == "" %}
                        N/A
                        {% else %}
                        {{i.technologies}}
                        {% endif %} 
                        </div>
                    </div>
                    <div>
                        <div><b>Description of Questions:&nbsp;</b>{{i.question_description}}</div>
                    </div>
                    <div>
                        <div><b>Tips for interview:&nbsp;</b>{{i.tips}}</div>
                    </div>
                    <div>
                    <br>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div><b>Difficulty Rating:&nbsp;</b>{{i.difficulty}} / 5</div>
                        </div>
                        <div class="col-sm">
                            <div><b>Enjoyment Rating:&nbsp;</b>{{i.enjoyment}} / 5</div>
                        </div>
                    </div>
                    <div><b>Date Created:&nbsp;</b>{{i.date_created}}</div>
                    <br>
                    <div class="center-container">
                        <button class="profile-btn-reset" onclick="removeUpvoteInterview({{i.id}})"><b>Remove Upvote</b></button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    function removeUpvoteJob(id) {
        if (request != null)
            request.abort();
        url = "profile/jobs/upvote?id=" + id;
        request = $.post(url, {})
            .done(function (data) {
                $('#modalSuccessBody').html("Upvote successfully removed!")
                $('#modalSuccess').modal('show');
                $('#upvoted-reviews').html(data);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                $('#modalErrorBody').html("There was an error with our servers in removing your upvote! Try again!")
                $('#modalError').modal('show');
            });
    }
    function removeUpvoteInterview(id) {
        if (request != null)
            request.abort();
        url = "profile/interviews/upvote?id=" + id;
        request = $.post(url, {})
            .done(function (data) {
                $('#modalSuccessBody').html("Upvote successfully removed!")
                $('#modalSuccess').modal('show');
                $('#upvoted-reviews').html(data);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                $('#modalErrorBody').html("There was an error with our servers in removing your upvote! Try again!")
                $('#modalError').modal('show');
            });
    }
</script>