<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TigerJobs</title>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
    <!------------------------JS/CSS/JQuery/Bootstrap src ------------>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- CSS stylesheet  -->
    <link rel="stylesheet" type="text/css" href="../static/app.css">
    <style type="text/css"></style>
</head>

<body>
    <!-- Navbar -->
    {% include 'templates/navbar.html' %}
    <!-- Content -->
    <div class="top-container-profile">
        <div class="row profile-row">
            <div class="col-sm profile-col">
                <div class="blurb-bg">
                
                            <span><h2>Welcome, {{netid}}. </span>&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3"/><circle cx="12" cy="10" r="3"/><circle cx="12" cy="12" r="10"/></svg></h2>
               
                             

                    <p>
                        Fill in your personal info here! Your responses will be added to any review you submit, 
                        but your netid will stay private. You may update your background as you see fit.
                    </p>
                    {% include 'templates/profileform.html' %}
                </div>
                <br>
                <div class="blurb-bg">
                    <h2>Your stats  &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M3 3v18h18"/><path d="M18.7 8l-5.1 5.2-2.8-2.7L7 14.3"/></svg>
                    </h2>
                    <p>
                        Here is a summary of your contributions to TigerJobs so far :)
                    </p>
                    <p><b>Total <span class="lightblue">job reviews</span>:</b>&nbsp;{{internships|length}}</p>
                    <p><b>Total <span class="yellow">interview reviews</span>:</b>&nbsp;{{interviews|length}}</p>
                    <p><b>Amount of upvotes on your <span class="lightblue">job reviews</span>:</b>&nbsp;{{my_internship_upvotes}}</p>
                    <p><b>Amount of upvotes on your <span class="yellow">interview reviews</span>:</b>&nbsp;{{my_interview_upvotes}}</p>
                    <p><b>Amount of <span class="lightblue">job reviews</span> you've upvoted:</b>&nbsp;{{upvote_internships|length}}</p>
                    <p><b>Amount of <span class="yellow">interview reviews</span> you've upvoted:</b>&nbsp;{{upvote_interviews|length}}</p>
                </div>
            </div>
            <div class="col-sm profile-col">
                <div class="blurb-bg">
                    <h2>Add a review! &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg></h2>
                    <p>
                        Add a job or interview review
                        to help your fellow Princeton students. Make sure
                        you've filled out your personal info before you submit
                        a review.
                    </p>
                    <br>
                    <div class="center-container">
                        <button class="profile-btn" data-bs-toggle="modal" data-bs-target="#addReviewModal"><b>Leave a review</b></button>
                    </div>
                </div>
                <br>
                <div class="blurb-bg">
                    <h2>Your reviews &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="14 2 18 6 7 17 3 17 3 13 14 2"></polygon><line x1="3" y1="22" x2="21" y2="22"></line></svg>
                    </h2>
                    <p>
                        Here is a list of all the reviews you've posted :)
                    </p>
                    {% include 'templates/profilereviews.html' %}
                </div>
                <br>
                <div class="blurb-bg">
                    <h2>Upvoted reviews &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path></svg>
                    </h2>
                    <p>
                        Here is a list of all the reviews you've upvoted :)
                    </p>
                    {% include 'templates/profileupvoted.html' %}
                </div>
            </div>
        </div>
    </div>
    {% include 'templates/profileaddreviewform.html' %}
    {% include 'templates/modalsuccess.html' %}
    {% include 'templates/modalerror.html' %}
    <div id="editJob"></div>
    <script>
        let request = null;
        function updateProfile() {
            // Get data from form
            var profile_certificates = ""
            var certs = $('#chosen-certificates')[0].children;
            for (let i = 0; i < certs.length; i++) {
                var inner = certs[i].innerHTML;
                var cert = inner.substring(0, inner.length - 85);
                profile_certificates += cert + ", ";
            }
            profile_certificates = profile_certificates.substring(0, profile_certificates.length - 2);
            var profile_major = $('#profile-major').val();
            var profile_year = $('#profile-year').val();
            var json_event = {
                "major": profile_major,
                "certificates": profile_certificates,
                "grade": profile_year
            };
            if (request != null)
                request.abort();
            request = $.post("/profile/update", {
                dataType: 'json',
                contentType: 'application/json',
                event_data: JSON.stringify(json_event)
            }).done(function (data) {
                $('#profile-form').html(data);
                $('#modalSuccessBody').html("Your profile was successfully updated!")
                $('#modalSuccess').modal('show');
                startAutocomplete();
            }).fail(function (jqXHR, textStatus, errorThrown) {
                $('#modalErrorBody').html("There was an error updating your information. Try again!")
                $('#modalError').modal('show');
                startAutocomplete();
            });
        }

        function startAutocomplete() {
            // Set up autocomplete with certificates
            var certificates = [
                'African American Studies', 'African Studies', 'American Studies',
                'Applications of Computing', 'Applied and Computational Mathematics',
                'Archaeology', 'Architecture and Engineering', 'Asian American Studies',
                'Biophysics', 'Cognitive Science', 'Contemporary European Politics and Society',
                'Creative Writing', 'Dance', 'East Asian Studies', 'Engineering Biology',
                'Engineering Physics', 'Entrepreneurship', 'Environmental Studies',
                'European Cultural Studies', 'Finance', 'Gender and Sexuality Studies',
                'Geological Engineering', 'Global Health and Health Policy', 'Hellenic Studies',
                'History and the Practice of Diplomacy', 'Humanistic Studies', 'Jazz Studies',
                'Journalism', 'Judaic Studies', 'Language and Culture', 'Latin American Studies',
                'Latino Studies', 'Linguistics', 'Materials Science and Engineering',
                'Medieval Studies', 'Music Performance', 'Music Theater', 'Near Eastern Studies',
                'Neuroscience', 'Optimization and Quantitative Decision Science',
                'Planets and Life', 'Quantitative and Computational Biology',
                'Robotics and Intelligent Systems', 'Russian, East European and Eurasian Studies',
                'South Asian Studies', 'Statistics and Machine Learning', 'Sustainable Energy',
                'Teacher Preparation', 'Technology and Society', 'Theater',
                'Translation and Intercultural Communication', 'Urban Studies',
                'Values and Public Life', 'Visual Arts'
            ]
            // Setup autocomplete for profile form
            autocomplete_profile(document.getElementById("profile-certificates"), certificates);
        }

        function setup() {
            startAutocomplete();
            $('#job-reviews').collapse({
                toggle: false
            })
            $('#interview-reviews').collapse({
                toggle: false
            })
        }

        $('document').ready(setup);
    </script>
</body>

</html>